@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars but keep scrolling enabled */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

